
Web API/DashboardWebApi/.vs/DashboardWebApi/config/applicationhost.config
UI/node_modules/.cache/babel-loader/2f48ccdb0c739aaf99056bb581eda7ef.json
UI/node_modules/.cache/babel-loader/858cc5031a4f27654399ebf5edc96ce5.json
UI/node_modules/.cache/babel-loader/c7c6a2b650a95ccc78976279f483861a.json
Web API/DashboardWebApi/.vs/DashboardWebApi/DesignTimeBuild/.dtbcache
Web API/DashboardWebApi/.vs/DashboardWebApi/DesignTimeBuild/.dtbcache
Web API/DashboardWebApi/.vs/DashboardWebApi/DesignTimeBuild/.dtbcache
Web API/DashboardWebApi/.vs/DashboardWebApi/v15/.suo
Web API/DashboardWebApi/.vs/DashboardWebApi/v16/.suo
Web API/DashboardWebApi/.vs/DashboardWebApi/v16/Server/sqlite3/db.lock
Web API/DashboardWebApi/.vs/DashboardWebApi/v16/Server/sqlite3/storage.ide
Web API/DashboardWebApi/.vs/DashboardWebApi/v16/Server/sqlite3/storage.ide-shm
Web API/DashboardWebApi/.vs/DashboardWebApi/v16/Server/sqlite3/storage.ide-wal
Web API/DashboardWebApi/DashboardWebApi/obj/DashboardWebApi.csproj.nuget.dgspec.json
Web API/DashboardWebApi/DashboardWebApi/obj/Debug/netcoreapp2.1/DashboardWebApi.csproj.CoreCompileInputs.cache
